[project]
	description = BGLR
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ksurya1123
[access "refs/for/refs/*"]
	read = group user/ksurya1123
	push = group user/ksurya1123
	label-Code-Review = -2..+2 group user/ksurya1123
	label-Verified = -1..+1 group user/ksurya1123
	rebase = group user/ksurya1123
	removeReviewer = group user/ksurya1123
	submit = group user/ksurya1123
[access "refs/heads/*"]
	read = group user/ksurya1123
	create = group user/ksurya1123
	push = +force group user/ksurya1123
	pushMerge = group user/ksurya1123
[access "refs/tags/*"]
	push = group user/ksurya1123
	push = +force group user/ksurya1123
